@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=IBM+Plex+Mono&display=swap');

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 380px;
    gap: 20px;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(300deg, #ff0057, #001, #00a4ff);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
}

#tittle{
    font-family: IBM Plex Mono;
    font-size: 22px;
}

body{
    background-image: url(./images/3607424.jpg);
    background-size: 100%;
}

section {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    border-radius: 5px;
    flex-direction: row;
    text-align: center;
    width: 250px;
    height: 30px;
    border: purple;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.356);
}

.font{
    font-family: IBM Plex Mono;
    font-size: 18px;
}

.button{
    font-family: IBM Plex Mono;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.356);
    margin: 0px;
    border-radius: 20px;
    border: purple;
    width: 130px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color: rgba(71, 0, 71, 0.308);
}

#buttons{
    display: flex;
}